{% extends "_layout.html" %}
{% load static %}

{% block body %}
<div class="row mb-3">
  <div class="col-md-2">
    <img src="{% static 'files/logo-imi.jpg' %}" class="mx-auto d-block" height="120">
  </div>
  <div class="col-md-8 text-center">
    <h3>
      <div>Архив выпускных квалификационных работ</div>
      <div>кафедры "Информационные технологии" ИМИ</div>
    </h3>
  </div>
  <div class="col-md-2">
    <img src="{% static 'files/logo-imi.jpg' %}" class=" mx-auto d-block" height="120">
  </div>
</div>
<div class="row">
<div class="col-md-2">
  <div class="list-group">
	  <div class="list-group-item active disabled">Дата публикации</div>
    {% for year in years %}
    <a href="{% url 'search' %}?year={{ year }}" class="list-group-item list-group-item-action">{{ year }}</a>
    {% endfor %}
  </div>
</div>
<div class="col-md-10">
<h3>О кафедре информационных технологий</h3>
<hr>
<div class="mt-3">
<div>Кафедра «Информационные технологии» образована в 2008 году в результате реорганизации кафедр математической экономики и компьютерного и математического моделирования ИМИ приказом ректора ЯГУ №43-ОРГ от 23 сентября 2008.</div>
  <p style="text-align: justify;">
  </p>
  <p style="text-align: justify;">
   По май 2019 года кафедрой заведовал доктор технических наук Сергей Денисович Мордовской. В&nbsp;настоящее время заведующим кафедрой является кандидат физико-математических наук, доцент Наталья Васильевна Николаева.
</p>
  <p style="text-align: justify;">
</p>
<p style="text-align: justify;">
   Кафедра ИТ создавалась, как выпускающая кафедра по направлению 010400.62 «Информационные технологии», набор бакалавров по данному направлению производился с 2007 года. В 2011 году произошел переход со стандартов второго поколения (ГОС ВПО) на новые стандарты третьего поколения (ФГОС ВПО). На кафедре была начата подготовка бакалавров по направлению подготовки 010300.62 «Фундаментальная информатика и информационные технологии». Также с 2011 года в связи с&nbsp;присоединением ЯГИТИ к СВФУ на кафедру была передана подготовка студентов по направлению 230100.62 «Информатика и вычислительная техника» и специальности 230105.65 «Программное обеспечение вычислительной техники и автоматизированных систем» (очной и заочной форм обучения).
</p>

  <div class="mt-3">
  В настоящее время кафедра является выпускающей по направлениям подготовки:
  <ul>
    <li>02.03.02 Фундаментальная информатика и информационные технологии, профиль «Программирование и информационные технологии» (бакалавриат);</li>
    <li>02.04.02 Фундаментальная информатика и информационные технологии, профиль «Управление проектами в области информационных технологий» (магистратура);</li>
    <li>09.03.01 Информатика и вычислительная техника, профиль «Технологии разработки программного обеспечения» (бакалавриат);</li>
    <li>09.04.01 Информатика и вычислительная техника, профиль «Управление разработкой программных продуктов» (магистратура).</li>
    
  <div class="mt-3"><a class="btn btn-link" href="{% static 'files/gia.docx' %}"><i class="bi-file-earmark-word"></i> Скачать Б3.Д.1 ГИА</a></div>
</div>
</div>
</div>
{% endblock %}
