{% extends "_layout.html" %}
{% load static %}


{% block body %}
<div class="row mb-3">
  <div class="col-md-2">
    <img src="{% static 'files/logo-imi.jpg' %}" class="float-start" height="120">
  </div>
  <div class="col-md-8 text-center">
    <h3>
      <div>Архив выпускных квалификационных работ</div>
      <div>Института математики и информатики</div>
      <div>Кафедры информационных технологий</div>
    </h3>
  </div>
  <div class="col-md-2">
    <img src="{% static 'files/logo-imi.jpg' %}" class="float-start" height="120">
  </div>
</div>
<h3>Требования к ВКР</h3>
<hr>
<div class="mt-3">
  <div>ВКР выполняется на стандартных листах формата A4 (210 мм x 297 мм).</div>
  <div><strong>Поля:</strong> левое 30 мм, правое 10 мм, верхнее 20 мм, нижнее 20 мм. Текст размещается только на одной стороне листа.</div>
  <div><strong>Шрифт:</strong> обычный, 14 пунктов, Times New Roman.</div>
  <div><strong>Абзац:</strong> 1,5 интервала.</div>
  <div><strong>Нумерация:</strong> внизу страниц, по центру и без каких-либо дополнительных символов, первая страница не нумеруется.</div>
  <div class="mt-3">Таблицы, рисунки и формулы должны быть пронумерованы и оформлены по стандарту <strong><em>ИМИ-2019 «Методические указания по оформлению письменных работ»</em></strong></div>
  <div>ВКР должна состоять из титульного листа, содержания, списка терминов и условных обозначений и сокращений (при необходимости), содержательной части работы, списка литературы и приложений.</div>
  <div>Титульный лист оформляется в соответствии с принятыми требованиями по образцу.</div>
  <div>В содержании должно содержаться название заголовков глав (также как и разделов, подразделов, приложений) и номера соответствующих страниц. Должна соблюдаться иерархичность заголовков.</div>
  <div>Содержательная часть должна состоять из введения, 2-4 глав, заключения. Объем содержательной части ВКР желательно должен быть в диапазоне 40-60 листов (приложения не считаются и на их объем никаких ограничений нет).</div>
  <div class="mt-3">
    Во введении должна отражаться следующая рубрикация:
    <ul>
      <li>актуальность темы ВКР;</li>
      <li>цели и задачи ВКР;</li>
      <li>методы исследования;</li>
      <li>практическая ценность результатов;</li>
      <li>область применения результатов;</li>
      <li>апробация и внедрение результатов;</li>
      <li>структура и объем ВКР.</li>
    </ul>
  </div>
  <div>Каждая глава должна заканчиваться основными выводами по главе. Объем глав должен быть относительно сбалансированным, пропорциональным по объему.</div>
  <div>В заключении приводятся основные выводы и результаты работы, а также апробация и внедрение результатов.</div>
  <div>Изложение в содержательной части текста ВКР должно быть строго объективным, целостным и непротиворечивым. Любые предложения, рекомендации и выбор чего-либо должны быть строго обоснованы (например, сравнительными данными).</div>
  <div class="mt-3">Орфографические и пунктуационные ошибки в тексте ВКР недопустимы. Стиль изложения должен быть корректным с научной точки зрения. Не допускаются чьи-либо субъективные суждения, эмоциональные высказывания, выражения из художественной литературы, обыденные житейские выражения, жаргон и т.п. Слова, фразы, цитаты и т.п., приведенные на иностранном языке, необходимо переводить на русский язык (перевод указывается в скобках), или, как минимум, кратко пояснять. Термины (сокращения, аббревиатуры, условные обозначения) необходимо пояснять или расшифровывать. Если один и тот же термин (сокращение, аббревиатура, условное обозначение) встречается многократно, то его необходимо вынести в специальный раздел ВКР - списка терминов, условных обозначений и сокращений, размещаемый непосредственно после оглавления.</div>
  <div>Приложения также должны быть оформлены по ГОСТу. Приложение, представляющее собой текст исходного кода компьютерных программ или что-то, представленное не на русском языке, должно тщательным образом поясняться на русском языке. Нумерация приложений сквозная и может быть не связана с нумерацией в содержательной части ВКР. Нумерация рисунков, формул и таблиц внутри приложений своя собственная и не связана с нумерацией в других приложениях и в содержательной части ВКР.</div>
  <div>Список используемой литературы должен быть оформлен по ГОСТ Р 7.0.100 - 2018. «Национальный стандарт Российской Федерации. Библиографическая запись. Библиографическое описание. Общие требования и правила составления». Библиографическое описание представляет собой совокупность библиографических сведений о документе (книге, статье, тезисах и т.п.), приведенных по установленным в ГОСТ правилам, предназначены для однозначной идентификации и общей характеристики документа. Библиографическое описание состоит из заголовка и элементов, объединенных в области, последовательность которых строго регламентирована и не может быть произвольно изменена.</div>
  <div class="mt-3">В содержательной части ВКР обязательно должны присутствовать ссылки на все источники, приведенные в списке литературы. Источники в списке обязательно нумеруются в алфавитном порядке. В тексте ссылки указываются в виде номеров источников в квадратных скобках, номера разделяются запятыми, диапазон номеров указывается в виде первого и последнего номера, разделенного дефисом. Например: [1,2-5,17,20]. Для цитаты необходимо указать страницу в первоисточнике, например [3, с.35]. Точка ставится за пределами скобок.</div>
  <div>Тексты ВКР, за исключением текстов ВКР, содержащих сведения, составляющих государственную тайну, размещаются обучающимся через личный кабинет студента в электронно-библиотечной системе СВФУ и проверяются на объем заимствования. Порядок размещения текстов ВКР в электронно-библиотечной системе СВФУ, проверки на объем заимствования описан в документе – «Регламент размещения текстов выпускных квалификационных работ обучающихся по основным профессиональным образовательным программам в Электронной библиотеке университета». Требования к уровню оригинальности бакалаврских ВКР – не менее 60%.</div>
  <div>Примерная тематика ВКР обновляется и утверждается ежегодно на заседании кафедры «Информационные технологии»не позднее ноября текущего учебного года <em>(см.приложение А)</em>.</div>
  <div class="mt-3"><a class="btn btn-link" href="{% static 'files/gia.docx' %}"><i class="bi-file-earmark-word"></i> Скачать Б3.Д.1 ГИА</a></div>
</div>
{% endblock %}